<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log-in</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link rel="preconnect" href="/https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class='aryanlogo'>
            <a href="/">Freelance<span class="free">Chowk</span></a>
        </div>

        <div class="menu-btn">
            <button class="icon" onclick="mega_menu()">
                <i class="fa-solid fa-bars"></i>
            </button>

            <ul class='nav-menu'>
                <li><a href="/#main">HOME</a>
                <li><a href="/#service">SERVICES</a>
                <li><a href="/#feature">FEATURES</a>
                <li><a href="/#">ABOUT</a>
            </ul>
        </div>
    </nav>