<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="stylesheet/questionare.css">
    <title>Freelancer Questionnaire</title>
</head>

<body>
    <nav class="navbar">
        <div class="aryanlogo">
            <a href="/">Freelance<span class="free">Chowk</span></a>
        </div>
        <div class="menu-btn">
            <button class="icon" onclick="mega_menu()">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li><a href="#">SERVICES</a>
                <li><a href="#">FEATURES</a>
                <li><a href="#">ABOUT</a>
            </ul>
        </div>
        <div class="log-in-btn">
            <a class="nav-connect" href="/logout">
                Log-Out
            </a>
        </div>
    </nav>

    <main class="container">
        <form id="questionnaire" method="post" action="/create/FreelancerDetails">
            <section class="personal_info">
                <fieldset>
                    <legend>
                        <h2>Personal Information</h2>
                    </legend>
                    <div class="name">
                        <label for="name">Full Name: </label>
                        <input type="text" id="name1" required placeholder="First Name" name="firstName">
                        <input type="text" id="name2" required placeholder="Last Name" name="lastName">
                    </div>

                    <div>
                        <label for="phone">Phone Number: </label>
                        <input type="tel" id="phone" required placeholder="Phone Number" name="phoneNo">
                    </div>
                </fieldset>
            </section>

            <section class="skills">
                <fieldset class="your_skills">
                    <legend>
                        <h2>Skills</h2>
                    </legend>

                    <input type="checkbox" name="skills" id="C" value="C">
                    <label for="C">C</label>

                    <input type="checkbox" name="skills" id="C++" value="C++">
                    <label for="C++">C++</label>

                    <input type="checkbox" name="skills" id="C#" value="C#">
                    <label for="C#">C#</label>

                    <input type="checkbox" name="skills" id="Java" value="Java">
                    <label for="Java">Java</label>

                    <input type="checkbox" name="skills" id="Python" value="Python">
                    <label for="Python">Python</label>

                    <input type="checkbox" name="skills" id="JavaScript" value="JavaScript">
                    <label for="JavaScript">JavaScript</label>

                    <input type="checkbox" name="skills" id="React" value="React">
                    <label for="React">React</label>

                    <input type="checkbox" name="skills" id="Angular" value="Angular">
                    <label for="Angular">Angular</label>

                    <input type="checkbox" name="skills" id="Django" value="Django">
                    <label for="Django">Django</label>

                    <input type="checkbox" name="skills" id="SpringBoot" value="SpringBoot">
                    <label for="SpringBoot">SpringBoot</label>
                </fieldset>
            </section>

            <section class="experience">
                <fieldset>
                    <legend>
                        <h2>Experience</h2>
                    </legend>
                    <label for="experience">Briefly describe your experience</label>
                    <textarea id="experience" rows="4" required name="ExpDescription"></textarea>

                    <label for="portfolio">Link to your portfolio</label>
                    <input type="url" id="portfolio" placeholder="Portfolio Link" name="portfolio">
                </fieldset>
            </section>

            <section class="project_preference">
                <fieldset>
                    <legend>
                        <h2>Project Preferences</h2>
                    </legend>
                    <label for="project-type">Preferred Project Type</label>
                    <select id="project-type" required name="ProjectPre">
                        <option value="" disabled selected>Select an option</option>
                        <option value="short-term">Short-term</option>
                        <option value="long-term">Long-term</option>
                        <option value="part-time">Part-time</option>
                    </select>
                </fieldset>
            </section>

            <input type="submit" class="btn" value="Submit">
        </form>
    </main>

    <script src="javascript/script.js"></script>
</body>

</html>