<!DOCTYPE html>

<head>
    <title>FreelanceChowk</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
        </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <nav class='navbar'>
        <div class='aryanlogo'>
            <a href="/">Freelance<span class="free">Chowk</span></a>
        </div>

        <div class="menu-btn">
            <button class="icon" onclick="mega_menu()">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class='nav-menu'>
                <li>HOME
                <li>FEATURES
                <li>SOLUTIONS
                <li>RESOURCES
                <li>PRICING
            </ul>
        </div>

        <div class="log-in-btn">
            <a class="nav-connect" href="/signin">
                Sign In
            </a>
        </div>
    </nav>

    <main class="main">
        <div class="headline">
            <h1 class="post">
                Post a Job TodayFind <span class="free">Freelancers</span>
            </h1>

            <h3 class="tap">
                Tap into a global talent pool while still finding freelancers who understand your market. Whether local
                or international, our freelancers are ready to deliver results.
            </h3>

            <div class="btt">
                <input type="button" value="Start Hiring" class="bt1">
                <button class="bt2">
                    Get Hired
                </button>
            </div>
        </div>

        <img class="mainimg" src="images/mainimg.avif" alt="">
    </main>

    <div class="headline2">
        Connecting
        <span class="free"> Businesses </span>
        with top-tier
        <span class="free">Freelancers</span>
        across the globe. Whether you need a quick fix or a long-term
        <span class="free"> Partnership </span>
        , we've got the experts to bring your vision to life. Explore some of the exciting projects completed through
        our
        <span class="free"> Platform </span>.
    </div>

    <div class="img-container">
        <img src="images/pngwing-3.png" alt="image-1" class="logo-3">
        <img src="images/pngwing-1.png" alt="image-1" class="logo-1">
        <img src="images/pngwing-2.png" alt="image-1" class="logo-2">
        <img src="images/pngwing-4.png" alt="image-1" class="logo-4">
        <img src="images/pngwing-5.png" alt="image-1" class="logo-5">
    </div>

    <div class="services">
        <div class="text-wrap">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quisquam dignissimos
                quibusdam, modi quia ut aliquam voluptatem consequatur perspiciatis ipsum Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Reprehenderit, id.
            </p>
        </div>

        <div class="images">
            <div class="image-1">
                <div class="image-1.1">
                    <h2 class="img-title-1 img-title">Video Editor</h2>
                    <img src="images/peter-stumpf-Q2-OEzSZY94-unsplash.jpg" alt="img-1" class="img img-1">
                </div>

                <div class="image-1.2">
                    <h2 class="img-title-2 img-title">Data Analyst</h2>
                    <img src="images/choong-deng-xiang--WXQm_NTK0U-unsplash.jpg" alt="img-2" class="img img-2">
                </div>
            </div>
            <div class="image-2">
                <div class="image2.1">
                    <h2 class="img-title-3 img-title">Graphic Designer</h2>
                    <img src="images/7176410_3572691.jpg" alt="img-3" class="img img-3">
                </div>

                <div class="image-2.2">
                    <h2 class="img-title-4 img-title">Web Developer</h2>
                    <img src="images/turned-gray-laptop-computer.jpg" alt="img-4" class="img img-4">
                </div>
            </div>

        </div>

        <div class="button-1">
            <button class="btn">Explore All</button>
        </div>

    </div>

    <div class="features">
        <div class="text-wrap-1">
            <p class="text-1">Our <b class="bold-text-1">Features</b></p>
        </div>

        <div class="text-wrap">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quisquam dignissimos
                quibusdam, modi quia ut aliquam voluptatem consequatur perspiciatis ipsum Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Reprehenderit, id.</p>
        </div>

        <div class="feature-containers">
            <div class="card" style="width: 18rem;">
                <img src="images/images_job_tracking.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Job Tracking</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="images/collaboration.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">collaboration</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="images/certificate.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">certifications</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="images/user_friendly.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">User Friendly</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="images/escrow_payment.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Secure Payments</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <ul class="footer-column">
                <h3>For Clients</h3>
                <li><a href="/">How to hire</a>
                <li><a href="/">Talent Marketplace</a>
                <li><a href="/">Project Catalog</a>
                <li><a href="/">Hire an agency</a>
                <li><a href="/">Enterprise</a>
                <li><a href="/">Any Hire</a>
                <li><a href="/">Contract-to-hire</a>
                <li><a href="/">Direct Contracts</a>
            </ul>

            <ul class="footer-column">
                <h3>For Talent</h3>
                <li><a href="/">How to find work</a>
                <li><a href="/">Direct Contracts</a>
                <li><a href="/">Find freelance jobs worldwide</a>
                <li><a href="/">Win work with ads</a>
                <li><a href="/">Exclusive Resources with Freelancer+</a>
            </ul>

            <ul class="footer-column">
                <h3>Resources</h3>
                <li><a href="/">Help & support</a>
                <li><a href="/">Success stories</a>
                <li><a href="/">Upwork reviews</a>
                <li><a href="/">Blog</a>
                <li><a href="/">Community</a>
                <li><a href="/">Affiliate programme</a>
                <li><a href="/">Free Business Tools</a>
            </ul>

            <ul class="footer-column">
                <h3>Company</h3>
                <li><a href="/">About us</a>
                <li><a href="/">Leadership</a>
                <li><a href="/">Investor relations</a>
                <li><a href="/">Careers</a>
                <li><a href="/">Our impact</a>
                <li><a href="/">Press</a>
                <li><a href="/">Partners</a>
                <li><a href="/">Trust, safety & security</a>
                <li><a href="/">Modern slavery statement</a>
            </ul>
        </div>

        <div class="footer-social">
            <h3>Follow us</h3>
            <ul>
                <li><a href="/"><i class="fab fa-facebook-f"></i></a>
                <li><a href="/"><i class="fab fa-linkedin"></i></a>
                <li><a href="/"><i class="fab fa-x-twitter"></i></a>
                <li><a href="/"><i class="fab fa-youtube"></i></a>
                <li><a href="/"><i class="fab fa-instagram"></i></a>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2024 - 2034 FreelanceChowk. All rights reserved.</p>
            <ul>
                <li><a href="/">Terms of Service</a>
                <li><a href="/">Privacy Policy</a>
                <li><a href="/">Cookie Settings</a>
                <li><a href="/">Accessibility</a>
            </ul>
        </div>
    </footer>

    <script src="/javascripts/index.js"></script>
</body>

</html>