<%- include('includes/header') %>

<main class="sign-up">
    <form action="/auth/signin" class="sign-up-form" method="post">
        <h2 class="title">Sign in</h2>

        <% if(alert){ %>
            <div class="alert alert-danger" role="alert">
                Invalid email or password.
            </div>
        <% } %>

        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Email" name="email" required />
        </div>

        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" required>
        </div>

        <input type="submit" class="btn" value="Sign In" />

        <p class="social-text">Or Sign in with social platforms</p>

        <div class="social-media">
            <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>

        <p>Don't have an account? <a href="/signup">Sign-Up.</a></p>
    </form>
</main>

<%- include('includes/footer') %>